<?xml version="1.0"?>
<launch>
    <arg name="markers_file_name" default="map_main_hall"/>
    <arg name="marker_positions_file" default="$(find amcl_doris)/maps/$(arg markers_file_name).yaml" />
    <arg name="cameras_file_name" default="cameras"/>
    <arg name="cameras_positions_file" default="$(find particle_filter)/maps/$(arg cameras_file_name).yaml" />
	
	<node name="particle_filter" pkg="particle_filter" type="particle_filterexec"  output="screen"  respawn="false">
	<rosparam command="load" file="$(arg marker_positions_file)"/>
        <rosparam command="load" file="$(arg cameras_positions_file)"/>
	<param name="IMAGE_WIDTH" value= "1812" />
	<param name="MARKER_HEIGHT" value = "0.345" />
	<param name="MARKER_WIDTH" value = "0.215" />
	<param name="NUM_CAM" value ="3" />
	</node>
	
        
</launch>
