<?xml version="1.0"?>
<launch>
 <arg name="markers_file_name" default="map_R"/>
    <arg name="marker_positions_file" default="$(find amcl_doris)/maps/$(arg markers_file_name).yaml" />
    <arg name="cameras_file_name" default="cameras"/>
    <arg name="cameras_positions_file" default="$(find amcl_doris)/maps/$(arg cameras_file_name).yaml" />
<node pkg="amcl_doris" type="amcl_doris" name="amcl_doris" respawn="false" output="screen" >
  <!-- Publish scans from best pose at a max of 10 Hz -->
  <param name="odom_model_type" value="diff"/>
  <param name="odom_alpha5" value="0.1"/>
  <param name="transform_tolerance" value="0.2" />
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="30"/>
  <param name="min_particles" value="500"/>
  <param name="max_particles" value="5000"/>
  <param name="kld_err" value="0.05"/>
  <param name="kld_z" value="0.99"/>
  <param name="odom_alpha1" value="0.2"/>
  <param name="odom_alpha2" value="0.2"/>
  <!-- translation std dev, m -->
  <param name="odom_alpha3" value="0.8"/>
  <param name="odom_alpha4" value="0.2"/>
  <param name="laser_z_hit" value="0.5"/>
  <param name="laser_z_short" value="0.05"/>
  <param name="laser_z_max" value="0.05"/>
  <param name="laser_z_rand" value="0.5"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_model_type" value="likelihood_field"/>
   <param name="laser_model_type" value="beam"/> -->
  <param name="laser_likelihood_max_dist" value="2.0"/>
  <param name="update_min_d" value="0.1"/>
  <param name="update_min_a" value="0.5"/>
  <param name="resample_interval" value="1"/>
  <param name="transform_tolerance" value="0.1"/>
  <param name="recovery_alpha_slow" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/> -->
  <!--for MARKER PF-->
  <rosparam command="load" file="$(arg marker_positions_file)"/>
        <rosparam command="load" file="$(arg cameras_positions_file)"/>
	<param name="IMAGE_WIDTH" value= "1812" />
        <param name="IMAGE_HEIGHT" value= "679" />
	<!--<param name="IMAGE_WIDTH" value= "1280" />
        <param name="IMAGE_HEIGHT" value= "960" />-->
	<param name="MARKER_HEIGHT" value = "0.345" />
	<param name="MARKER_WIDTH" value = "0.215" />
	<param name="NUM_CAM" value ="3" />
	<param name = "marker_model_type" value="observation_likelihood"/>
	<!--<param name = "odom_frame_id" value="Doris/odom" />-->
	<param name="base_frame_id" value="Doris/cuerpo" />
	<param name="use_map_topic" value="true"/>
	<param name="marker_z_hit" value="0.995"/>
	<param name="marker_z_rand" value ="0.005"/>
        <param name="marker_sigma_hit" value="100"/>
        <param name="marker_landa" value="2"/>
  <param name="odom_frame_id" value="Doris/odom"/>
  <param name="laser_sigma_hit" value="0.02"/>
  <!--for FUSION laser-camera-->
  <param name="laser_coeff" value="1.0"/>
  <param name="camera_coeff" value="1.0"/>
  <!-- simulation or real -->
  <param name="simulation" value = "1"/>
</node>
</launch>
